body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

/* Button styling for theme toggle */
button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 5px 10px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-inline: auto;

  width: 100%;

  top: 0;
}

.navi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}

.logo {
  display: flex;
  height: 48px;
  padding: 27px 28px;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: bold;

  border-radius: 0px 0px 16px 16px;
  background: #e60012;

  color: #fff;
}

.logo a {
  color: #fff;
  text-decoration: none;
  color: #faf3e0;

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border: none;
}

.navs a,
.user {
  color: #fff;
  text-decoration: none;
  display: flex;
  width: 116px;

  height: 48px;
  padding: 27px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0px 0px 16px 16px;
  background: #333;

  color: #faf3e0;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border: none;
}
