header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logoLink {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.button {
  background-color: #ff4b5c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}
