.notebook-page-container {
  padding: 60px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.toptitle {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 17px 24px;
  justify-content: space-between;
  align-items: center;

  background-color: var(--text-color);
  border-radius: 12px;
}

.toptitle h1 {
  color: var(--background-color);
  text-align: center;
  font-size: 32px;
  font-weight: 1000;
}

.filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.filters input {
  display: flex;
  min-width: 240px;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--background-color3);
  background: var(--background-color);

  color: var(--text-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filters input::placeholder {
  color: var(--text-color);
}

.filters select {
  display: flex;
  max-width: 140px;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;

  border-radius: 12px;
  border: 1px solid var(--background-color3);
  background: var(--background-color);

  color: var(--text-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filters select option {
  color: var(--text-color);
  border-radius: 12px;
}

.notebooks {
  padding: 0 20px;

  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

  align-items: center;
  justify-content: center;

  gap: 40px;
}

.notebooks .add,
.notebooks li,
.placeholder {
  background-color: var(--background-color2);
  color: white;
  height: 320px;
  width: 236px;
  border-radius: 12px;

  padding: 20px 32px 16px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); */

  font-weight: bold;
  cursor: pointer;
  margin-inline: auto;

  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;

  position: relative;

  border-left: 22px solid rgba(10, 10, 10, 0.99);

  transition: 0.3s ease;

  .title {
    margin-left: 12px;
    color: var(--background-color);
    margin-top: 28px;
    font-size: 22px;
    font-weight: 800;
    padding: 8px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 6px;
    border: 2px solid var(--background-color3);
    overflow: hidden;
    text-overflow: clip;
  }

  .n-trash {
    position: absolute;
    font-size: 24px;
    bottom: 16px;
    right: 20px;
    padding: 5px;
  }
  .n-trash:hover {
    background-color: var(--primary-color);
    opacity: 0.7;
    border-radius: 50%;
  }
  .n-pencil {
    position: absolute;
    bottom: 16px;
    left: 20px;
    padding: 5px;
  }
  .n-pencil:hover {
    background-color: var(--primary-color);
    opacity: 0.7;
    border-radius: 50%;
  }

  .date {
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;

    color: var(--background-color);
    background-color: var(--text-color);
    padding: 4px 10px;
    border-radius: 6px;
    border: 2px solid var(--background-color3);
  }
}

.notebooks li:hover,
.placeholder:hover,
.notebooks .add:hover {
  transition: 0.3s ease;
  background-color: var(--book);
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.notebooks .add {
  justify-content: center;
  background-color: var(--background-color2);

  transition: 0.3s ease;
}
.notebooks .add:hover {
  background-color: var(--book);
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination button {
  display: flex;
  width: 88px;
  height: 52px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: var(--text-color);

  color: var(--background-color);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
