* {
  margin: 0;
  padding: 0;
}
.tiptape {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  border-radius: 8px;
}
.tiptap-editor {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: left;

  text-align: justify;
  padding: 24px;
  margin: 2px 0;

  font-size: 18px;
  border: #000 2px solid;
  border-radius: 8px;

  /*   lighr theme
  background-color: #fff;
  color: #000; 
  */
}

button {
  color: #000;
}
.control-group {
  margin-bottom: 20px;
}

.button-group {
  /* height: 56px; */
  display: flex;
  padding: 10px 28px;
  align-items: center;
  justify-content: left;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
}

.dropdown {
  background-color: aqua;
  width: 50px;
  color: rgb(255, 193, 117);
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
/* //////////////////////////////////////// */
/* src/css/custom-dropdown.css */

.dropdown,
.Dropdown-root,
.Dropdown-control,
.control-group button,
.control-group .color-input {
  width: 60px;
  height: 40px;
  background-color: #fff;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.control-group .color-input {
  border: rgb(0, 0, 0) solid 1.2px;
  height: 28px;
  width: 28px;
  margin-left: 12px;
}

.dropdown .Dropdown-control {
  background-color: #fff;
  color: #333;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.Dropdown-root:hover,
.control-group button:hover,
.control-group .color-input:hover {
  background-color: #fff;
  box-shadow: rgb(224, 224, 224) 0px 2px 5px;
}

.dropdown .Dropdown-control:focus {
  border-color: #007bff;
}

.dropdown .Dropdown-menu {
  background-color: #fff;
}

.dropdown .Dropdown-option {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown .Dropdown-option:hover {
  background-color: #e0e0e0;
}
