:root {
  --background-color: #242424;
  --background-color2: #5c5c5c;
  --background-color3: #808080;

  --text-color: rgb(255, 255, 255);
  --primary-color: #e60012;
  --primary-hover-color: #1a1a1a;
  --button-background: #1a1a1a;
  --page-background: #121212;

  --gradiant-bg: linear-gradient(to top, #0f0f0f 0%, #232526 50%, #0f0f0f 100%);

  --book: #333333;
}
