:root {
  --background-color: #ffffff;
  --background-color2: #dbdbdb;
  --background-color3: rgb(199, 199, 199);

  --secondary-color: #333333;

  --text-color: #333333;
  --primary-color: #e60012;
  --primary-hover-color: #f9f9f9;
  --button-background: #f9f9f9;
  --page-background: #f9f9f9;

  --gradiant-bg: linear-gradient(to top, #414345 0%, #232526 50%, #414345 100%);

  --book: #333333;

  --blue: #53b9c7;
}
